<h2>Welcome to Project Zip!</h2>

{{#link-to 'index'}}Index{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'resume'}}Resume{{/link-to}}
{{#link-to 'projects'}}Projects{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}

{{outlet}}
